* {
  font-family: sans-serif;
}

#personalInformation {
  background: #ccc;
}

#personalInformation h2 {
  text-transform: uppercase;
  font-size: 1em;
}

#personalInformation div {
  padding: 0em 1em;
  display: inline-block;
  vertical-align: top;
  line-height: 0.8em;
  width: 9em;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

label {
  display: block;
  line-height: 1.5em;
}

input[type=number] {
  width: 5em;
  text-align: right;
}

button {
  background: #333388;
  border-color: #333388;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 0.5em 1em;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
}

.application-gender-male .gender-female {
  display: none;
}

.application-gender-female .gender-male {
  display: none;
}

select {
  width: 80%;
  background: #333388;
  color: white;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 4px;
}

.subform-container {
  background-color: silver;
  padding: 0.2 1em;
  margin: 1em;
}

.optionalInformation {
  display: none;
}

main {
  margin-bottom: 3em;
}

footer#submit {
  background: lightblue;
  height: 2.5em;
  line-height: 2.5em;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.progressBlock {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: silver;
  opacity: 0.5;
  padding: 2em;
}

.progressBlock:before {
  content: url("../images/spinner.gif");
}

